* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Helvetica, sans-serif;
    color: rgba(255, 245, 238, 0.9);
}

html {
    font-size: 22px;
}

body{
    background-color: black;
}

/*h1, h2, h3, h4, h5, h6, p, figcaption, a {
}*/

.logo{
    height: 50px;
}

header{
    display: flex;
    align-items: center;
    height: 69px;
    justify-content: space-between;
    border-bottom: 1px solid seashell;
    padding: 0 10px;
    position: fixed;
    width: 100%;
    margin-top: -69px;
    background-color: black;
    z-index: 10;
}

header ul li {
    display: inline;
}
header ul li+li {
    margin-left: 10px;
}

.top-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 700px;
    width: 1200px;
    background-image: url('./img/img-mission-background.webp');
    background-repeat: no-repeat;
    background-position: center;
    margin: 0 auto;
    position: relative;
    margin-top: 69px;
}

.top-section h2, .top-section h4{
    background-color: black;
    width: 100%;
    text-align: center;
    padding: 10px;
}

.middle-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 1000px;
    margin: 0 auto;
}

.middle-section h1, .middle-section h2{
    background-color: black;
    width: 100%;
    text-align: center;
    padding: 30px;
}

.middle-section h1{
    padding-bottom: 0;
}

.middle-section div{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 50px;
}

.middle-section figure{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.middle-section figure figcaption{
    margin-top: 10px;
}

.middle-section figure img{
    width: 300px;
    height: 200px;
}

.bottom-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 500px;
    width: 1200px;
    margin: 30px auto;
    background-image: url('./img/img-locations-background.webp');
    background-position: center;
}

.shop-locations{
    display: flex;
    gap: 40px;
}

.shop-locations div{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
    margin-top: 15px;
    background-color: rgba(0, 0, 0, 0.8);
    padding: 40px 0 0;
}

.shop-locations div h3, 
.shop-locations div p{
    margin-bottom: 40px;
}
